<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>787152959076-h6f3a5u242v70cfava3fco0abjgbjjdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787152959076-h6f3a5u242v70cfava3fco0abjgbjjdn</string>
	<key>API_KEY</key>
	<string>AIzaSyAFWWZk_pjuZ3LSXwW9wRnOD3j6wlTHdoI</string>
	<key>GCM_SENDER_ID</key>
	<string>787152959076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.NetBiz.Rich10</string>
	<key>PROJECT_ID</key>
	<string>rich10-274a4</string>
	<key>STORAGE_BUCKET</key>
	<string>rich10-274a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787152959076:ios:4c9e9bd663a2f749</string>
	<key>DATABASE_URL</key>
	<string>https://rich10-274a4.firebaseio.com</string>
</dict>
</plist>